.determining-the-need {
  padding: 50px 0 80px 0;
  .header {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      border: 1px solid #e0c467;
      width: 75%;
      height: 2px;
      left: 50%;
      transform: translateX(-50%);
      top: 50px;
    }
  }
  p {
    text-align: center;
    margin-top: 35px;
    color: #808080;
    font-size: 18px;
  }
  .container {
    width: 670px;
  }
  #stages {
    display: flex;
    width: 202px;
    margin: 37px auto 0 auto;
    justify-content: space-between;
    & > div {
      color: #9c8740;
      font-size: 12px;
      width: 26px;
      height: 26px;
      border: 1px solid #9c8740;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        left: 25px;
        border: 1px solid #9c8740;
        width: 19px;
      }
    }
    .bg-gold {
      background: #9c8740;
      color: #fff;
    }
    & > div:last-child {
      &:after {
        display: none;
      }
    }
  }
  .stage-content {
    display: none;
    & > p {
      text-align: left;
      margin-top: 43px;
      font-weight: 500;
      font-size: 22px;
    }

    & > div {
      display: flex;
      margin-top: 25px;
      & > div {
        margin-left: 20px;
        cursor: pointer;
        p {
          text-align: start;
          margin-top: 10px;
          font-size: 15px;
          line-height: 18px;
          color: black;
        }
      }
      & > div:first-child {
        margin-left: 0;
      }
    }
  }

  label {
    width: 100%;
    input {
      width: 100%;
      background: black;
      height: 1px;
    }
  }

  .show {
    display: block;
  }
}
