@media screen and (max-width: 1200px) {
    .aboutCompany {
        .wrapper {
            &__title {
                margin-left: 50px;
                p {
                    font-size: 16px;
                    line-height: 19px;
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .aboutCompany {
        padding-bottom: 0;
        .container {
            padding: 0;
        }
        .wrapper {
            flex-direction: column-reverse;
            &__img {
                margin-top: 52px;
            }
            &__title {
                padding: 0 3%;
            }
            &__item {
                img {
                    width: 75px;
                }
            }
        }
        .header {
            text-align: center;
        }
    }
}


@media screen and (max-width: 470px) {
    .aboutCompany {
        .wrapper {
            flex-direction: column-reverse;
            &__item {
                width: 100%;
                p {
                    width: 100%;
                }
                img {
                    margin-right: 15px;
                }
            }
            &__title {
                padding: 0 9%;
                margin-left: 0px;
            }
        }
    }
}

