@media screen and (max-width: 600px) {
    .reviews {
        .item {
            padding: 37px 19px;
            margin: 10px 10px;

        }
        .title {
            width: 265px;
        }
    }
}